.landing-page {
    margin: 20px;
}
.issue-card {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.cards-row {
    max-width: 1120px;
    margin: auto!important;
    text-align: center;
}
.issue-card a {
    font-size: 1em!important;
}

.ant-card-meta {
    color: #683815;
}

.passed .ant-card-meta {
    color:gray;
}

.ant-card-meta:hover {
    color: #e66101;
    font-weight: 600;
}

.ant-card-meta-description{
    color: inherit;
}

.ant-card-actions li span:hover {
    color: rgba(0, 0, 0, 0.45) !important;
}